@tailwind base;
@tailwind components;
@tailwind utilities;


.container1 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh !important;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.nav-color {
  color: #ab01ff !important;
}

.header-bg {
  background-color: lightgray;
}

button {
  background-color: #5F9EA0;
  padding: 10px 20px;
  border-radius: 6px;
  border-width: 0;
  color: white;
}